$color-dark: rgb(26, 26, 26);
$color-lightDark: rgb(79, 82, 92);
$color-light: rgb(245, 245, 245);
$color-blueDark: rgb(87, 106, 141);
$color-lightBlue: rgb(0, 132, 255);
$color-green:rgb(0, 126, 0);
$color-greenDark: rgb(0, 94, 0);
$color-red: rgb(223, 0, 0);
$color-redDark: rgb(155, 0, 0);
$color-white: rgb(255, 255, 255);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 75px 0;
    font-family: "Montserrat", sans-serif;
    background-color: $color-light;
}


.wrapper {
    width: 850px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
    text-align: center;
}

.header {
    border-radius: 10px 10px 0 0;
    padding: 40px;
    background-image: linear-gradient(0.25turn, #576a8d, #3f87a6, #bd7325);;
}

.header__title {
    color: $color-light;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.header__input {
    width: 70%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: $color-lightDark;
    background-color: $color-light;
}

.datePicker {
    width: 108px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: $color-lightDark;
    background-color: $color-light;
}

.btn__add {
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    color: $color-dark;
    background-color: $color-light;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.btn__add:hover {
    color: #fff;
    background-color: $color-blueDark;
}

.todo {
    padding: 20px 0;
}

.todo__title {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.todo__alertInfo {
    margin-top: 20px;
    color: $color-blueDark;
}

.todo__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 5px 0;
    padding-left: 20px;
    text-align: left;
    list-style: none;
    background-color: $color-light;
}

.todo__span {
    margin: 0 20px 0 auto;
}

.tools {
    display: flex;
    flex-direction: row;
}

.tools button {
    padding: 15px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tools button:hover {
    background-color: #ddd;
}

.btn__complete {
    color: $color-lightBlue;
}

.btn__edit {
    font-weight: bold;
    color: rgb(15, 179, 69);
}

.btn__delete {
    color: tomato;
}

.completed {
    font-size: 12px;
    color: $color-lightDark;
    text-decoration: line-through;
    font-style: italic;
}

.popup{
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
}

.popup__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    color: $color-light;
    background-color: $color-lightDark;
    border-radius: 5px;
}

.popup__title {
    padding: 20px;
    text-align: center;
}

.popup__info {
    color: $color-light;
    margin-bottom: 20px;
}

.popup__body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
}

.popup__input {
    width: 80%;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    color: $color-lightDark;
    background-color: $color-light;
    display: inline-block;
}

.btn__popup {
    width: 30%;
    display: inline-block;
    padding: 10px 22px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    color: $color-dark;
    background-color: $color-light;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.btn__cancel {
    background-color: $color-red;
    color: $color-white;
    &:hover {
        background-color: $color-redDark;
    }
}

.btn__accept {
    background-color: $color-green;
    color: $color-white;
    &:hover {
        background-color:$color-greenDark
    }
}

@media(max-width: 992px) {
    body {
        margin: 40px 0;
    }

    .wrapper {
        width: 90%;
    }

    .header {
        padding: 40px 10px;
    }

    .header__title {
        margin: 20px 0;
    }
    
    .header__input {
        width: 70%;
        margin-bottom: 10px;
    }
    
    .datePicker {
        width: 108px;
    }

    .btn__add {
        padding: 10px 15px;
    }

    .popup__wrapper {
        width: 90%;
    }
}


@media(max-width: 768px) {
    .header__input {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .datePicker {
        width: 108px;
    }

    .flatpickr-calendar {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after {
        left: 30%;
    }

    .btn__add {
        padding: 10px 15px;
    }
    
    .popup__wrapper {
        width: 95%;
        position: absolute;
        top: 10%;
    }
    
    .popup__body {
        width: 95%;
    }
    
    .popup__input {
        width: 70%;
    }

    .popup__datePicker {
        width: 90px;
    }
    
    .btn__popup {
        width: 40%;
        margin: 20px 15px;
    }
}

@media (max-width: 576px) {
    .todo__element {
        font-size: 14px;
    }

    .todo__span {
        margin-right: 10px;
        font-size: 12px;
    }

    .tools button {
        padding: 15px 7px;
    }

    .popup__input {
        width: 65%;
    }
    
    .btn__popup {
        width: 30%;
    }
}

@media (max-width: 350px) {
    .todo__element {
        font-size: 12px;
    }

    .todo__span {
        display: none;
    }

    .popup__input {
        width: 60%;
    }

    .btn__popup {
        margin: 20px 10px;
        padding: 10px;
    }
}